@using protabula_com.Models
@using System.Globalization
@model RalColor

@{
    var culture = CultureInfo.CurrentUICulture.Name;
    var localizedName = Model.GetLocalizedName(culture);
}

<a class="color-tile @(Model.NeedsDarkText ? "dark" : "")"
   style="background-color: @Model.Hex;"
   asp-page="/ral-colors/Details"
   asp-route-culture="@ViewContext.RouteData.Values["culture"]"
   asp-route-colorIdentifier="@Model.Slug">
    <span class="ral">RAL</span>
    <span class="number">@Model.Number</span>
    @if (!string.IsNullOrEmpty(localizedName))
    {
        <span class="name">@localizedName</span>
    }
</a>
