@page "/ral-colors/{colorIdentifier}"
@using Microsoft.AspNetCore.Mvc.Localization
@model RalColorDetailsModel
@inject IViewLocalizer Localizer

<div class="color @(Model.Color.NeedsDarkText ? "dark" : "")" style="background-color: @Model.Color.Hex;">
    <h2>
        RAL @Model.Color.Number
    </h2>

    @if (!string.IsNullOrEmpty(Model.Color.Name))
    {
        <span>@Model.Color.Name</span>
    }

    @if (!string.IsNullOrEmpty(Model.Color.NameDe))
    {
        <span>@Model.Color.NameDe</span>
    }

    <div class="hex">
        @Model.Color.Hex
    </div>
</div>

<div>
    <a asp-page="/ral-colors/Index" asp-route-culture="@RouteData.Values["culture"]">
        &larr; @Localizer["BackToColors"]
    </a>
</div>