@page "/ral-colors"
@using Microsoft.AspNetCore.Mvc.Localization
@using protabula_com.Models
@inject IViewLocalizer Localizer
@model RalColorsModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@ViewData["Title"]</h1>
<p>@Localizer["Intro"]</p>

@{
    var groups = Model.Colors
    .OrderBy(color => color.Category)
    .GroupBy(color => color.Category)
    .ToList();
}
@for (var index = 0; index < groups.Count; index++)
{
    var group = groups[index];
    <section>
        <h2>@Localizer[$"Category{group.Key}"]</h2>
        <div class="color-grid">
            @foreach (var color in group)
            {
                <a asp-page="/ral-colors/Details"
                    asp-route-culture="@RouteData.Values["culture"]"
                    asp-route-colorIdentifier="@color.Number"
                    class="color @(color.NeedsDarkText ? "dark" : "")" style="background-color: @color.Hex;">

                    <span class="hex">RAL</span>
                    <h3 class="number">@color.Number</h3>

                    @if (!string.IsNullOrEmpty(color.Name))
                    {
                        <span class="name">@color.Name</span>
                    }

                    @if (!string.IsNullOrEmpty(color.NameDe))
                    {
                        <span class="name">@color.NameDe</span>
                    }
                </a>
            }
        </div>
    </section>
    @if (index < groups.Count - 1)
    {
        <hr />
    }
}
